{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block te %}
     <link href="{% static "css/style.css" %}" rel="stylesheet">
<div id="header">

<ul class="Portfolio-nav wow fadeIn delay-02s">
  <li>  <a href="/" class="logo">На главную</a></li>
   <li><a href="{% url  "shop:product_list"%}" class="logo">В каталог</a></li>
</ul>
</div>
{% endblock te %}
{% block content %}
<div class="product-detail">
<img src="{% if product.image %}{{ product.image.url }}{% else %}
{% static "img/no_image.png" %}{% endif %}">
<h1>{{ product.name }}</h1>
<h4>
<a href="{{ product.category.get_absolute_url }}">{{product.category }}</a>
</h4>

<p class="price">Цена: {{ product.price }} грн</p><br>
<form action="{% url "cart:cart_add" product.id %}" method="post">
{{ cart_product_form }}
{% csrf_token %}
<input type="submit" value="Add to cart">
</form>
{{ product.description|linebreaks }}

</div>
{% endblock %}