{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% if category %}Категория: {{ category.name }}{% else %}Наши товары{% endif %}
{% endblock %}
{% block te %}
     <link href="{% static "css/style.css" %}" rel="stylesheet">
<div id="header">

<ul class="Portfolio-nav wow fadeIn delay-02s">
    <li><a href="{% url  "shop:home"%}" class="logo">На главную</a></li>

</ul>
</div>
{% endblock te %}
{% block content %}
<div id="sidebar">
<h3>Категории</h3>
<ul>
<li {% if not category %}class="selected"{% endif %}>
<a href="{% url "shop:product_list" %}">Все</a>
</li>
{% for c in categories %}
<li {% if category.slug == c.slug %}class="selected" {% endif %}>
<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
</li>
{% endfor %}
<h4>Теги</h4>
<ul>
{% for c in tags %}
<li>
<a href="{{ c.get_absolute_url }}">{{ c.title }}</a>
</li>
{% endfor %}
</ul>


</ul>
</div>
<div id="main" class="product-list">
<h1>{% if category %}{{ category.name }}{% else %}Наша продукция{% endif %}</h1>
{% for product in products %}
<div class="item">
<a href="{{ product.get_absolute_url }}">
<img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "img/no_image.png" %}{% endif %}">
</a>
<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
<br>
    <strike>{{ product.price }} грн</strike> {{ product.price }} грн
</div>
{% endfor %}
</div>
{% endblock %}